.appBar{
  position: fixed;
}
.padreProfile{
  text-align: center;
  
}

.paperProfile{
  height: 60vh;
  width: 85vw;
  margin: auto;
}
.button{
  display: flex;
  justify-content: center;
}
.input{
  font-size: 12px
}
.floating{
  position: absolute;
  margin-top: 20%
}
.tabAppBar{
  color: red
}