@import url('https://fonts.googleapis.com/css?family=Lato');

.appBar{
  position: fixed;

}

div {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,b,p,span,big{
  font-family: 'Lato', sans-serif;
}

.padreProfile{
  text-align: center;
}

.paperProfile{
  height: auto;
  width: 85vw;
  margin: 10% auto auto auto;
  font-family: 'Lato', sans-serif;
}
.paperProfile > h4 {
  background-color: #bc960b
}
.logoMenu{
  text-align: center;
  margin-top: 15px
}
.input{
  font-size: 12px
}
.floating{
  float: right;
}
.tabAppBar{
  color: red
}