.largo{
  height: 100vh;
}

.dinamicDetailHijo{
  float: left;
}
.bSubtitle{
  background-color: yellow;
  color: slategray
}
.subrayadoImagen{
  background-color: rgb(255, 255, 130);
  color: black
}