.bloques{
  width:100%;
  height:auto; 
  padding: .15rem;
  background-color: rgb(255, 255, 255);
}

.buttonVentas > button {
  background-color: rgb(0, 121, 10);
  color: white;
  float: right;
  margin-top: -10%
}
.ventas > p {
  background-color: tomato;
  font-size: 1.5rem;
  margin-bottom: 0%
}
.ventas > b {
  background-color: rgb(245, 241, 16);
}
.hrVentas{
  height: 6px;
  background-color: blue;
}